{% extends "base.html" %}

{% block title %}
    Проверка
{% endblock %}

{% block content %}
    {% include 'components/flash_messages.html' %}

    <section>
        <h1>Сайт: {{ url_data.name }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap"
                   data-test="url">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ url_data.id }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ url_data.name }}</td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ url_data.created_at }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post" action="#">
            <input type="submit" class="btn btn-primary"
                   value="Запустить проверку">
        </form>

        <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2"
                   data-test="checks">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tbody>
            </table>
        </div>

    </section>
{% endblock %}