{% extends "base.html" %}

{% block title %}
    Проверка
{% endblock %}

{% block content %}
    <section>
        <h1>Сайт: {{ url_data.name }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap"
                   data-test="url">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ url_data.id }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ url_data.name }}</td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ url_data.created_at }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post"
              action="{{ url_for("app_route.check_particular_url", url_id = url_data.id) }}">
            <input type="submit" class="btn btn-primary"
                   value="Запустить проверку">
        </form>

        <div class="table-responsive">
            <table class="table table-bordered table-hover mt-2"
                   data-test="checks">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Код ответа</th>
                    <th>h1</th>
                    <th>title</th>
                    <th>description</th>
                    <th>Дата создания</th>
                </tr>
                </thead>
                <tbody>
                {% if checks_data %}
                    {% for check in checks_data %}
                        <td>{{ check.id if check.id }}</td>
                        <td>{{ check.status_code if check.status_code else "" }}</td>
                        <td>{{ check.h1 if check.h1 else "" }}</td>
                        <td>{{ check.title if check.title else "" }}</td>
                        <td>{{ check.description if check.description else "" }}</td>
                        <td>{{ check.created_at if check.created_at else "" }}</td>
                        </tbody>
                    {% endfor %}
                    {% else %}
                    {% for _ in range(6) %}
                    <td></td>
                    {% endfor %}
                {% endif %}
            </table>
        </div>

    </section>
{% endblock %}